/*  reset  */
body,li,a{
     text-decoration: none;
}
li{
    list-style-type: none;
    padding: 10px;
}
main li{
    border: solid grey;
    border-radius: 10px;
    display: block;
}
body{
    background-color: rgb(231, 228, 228);
}

/*  Base Style  */
.name{
    margin-left: 40px;
}
#highlight{
    color: rgba(7, 7, 252, 0.89);
}
.minidash{
    padding-left: 30px;
}
button{
    display: block;
    background: none;
    border-radius: 7px;
    color: white;
    background-color: rgb(50, 50, 221);
    padding: 10px;
}
button:hover{
    background-color: white;
    color: blue;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

nav{
    grid-column: 1/2;
    background-color: white;
    margin: 0;
    border-radius: 20px;
}
main{
    grid-column: 2/4;
   }
aside{
    grid-column: 1/4;
    background-color: white;
    padding:10px;
    border-radius: 20px;
    
}
section{
    grid-column: 4/8;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
footer{
    background-color: white;
    grid-column: 1/8;
    border-radius: 20px;
    padding-left: 20px;
    
}
#report1{
    grid-column: 1/5;
}
#report2{
        grid-column: 5/9;
}
.flex{
    display: flex;
    flex-grow: initial;
    gap: 13px;
}
